## Intro
In this assigment, I work with an Excel file containing passenger statistics from Copenhagen Airport (CPH) for January 2025. The goal is to simulate a simple ETL (Extract, Transform, Load) process and analyze the data using Python

### Loade the data

In [190]:
import pandas as pd

In [192]:
def load_xls_data(filepath):
    df = pd.read_excel(filepath, header = 0)
    return df

In [194]:
data = load_xls_data(r"C:\Users\rebec\OneDrive\Dokumenter\CPH.buisness\4_Semester\BI\MiniProject\2025_jan_traffic.xlsx")

In [196]:
data.dtypes

Category             object
Region               object
Arrival_Total         int64
Arrival_Local         int64
Arrival_TrfTrs        int64
Departure_Total       int64
Departure_Local     float64
Departure_TrfTrs    float64
Total                 int64
dtype: object

### Remove missing data - Depature_Local and Depature_TrfTrs

In [199]:
data.isna().sum()

Category             0
Region               0
Arrival_Total        0
Arrival_Local        0
Arrival_TrfTrs       0
Departure_Total      0
Departure_Local     12
Departure_TrfTrs    12
Total                0
dtype: int64

In [201]:
data_new = df.drop(columns=["Departure_Local", "Departure_TrfTrs"])

In [222]:
data_new

,Category,Region,Arrival_Total,Arrival_Local,Arrival_TrfTrs,Departure_Total,Total
0,Scheduled Traffic,Denmark,38150,26764,10225,36989,75139
1,Scheduled Traffic,Europe,777650,579010,148207,727217,1504867
2,Scheduled Traffic,Intercontinental,140093,98463,42530,140993,281086
3,Scheduled Traffic,Total,955893,704237,200962,905199,1861092
4,Charter Traffic,Denmark,2948,1113,0,1113,4061
5,Charter Traffic,Europe,31703,32456,445,32901,64604
6,Charter Traffic,Intercontinental,9532,11212,1109,12321,21853
7,Charter Traffic,Total,44183,44781,1554,46335,90518
8,Grand Total,Denmark,41098,27877,10225,38102,79200
9,Grand Total,Europe,809353,611466,148652,760118,1569471
10,Grand Total,Intercontinental,149625,109675,43639,153314,302939
11,Grand Total,Total,1000076,749018,202516,951534,1951610

### Anonymisation
This data do not need anonymisation, because the passengers are all based on numbers, and hare anonymouse.

### Total passengers by region

In [388]:
def total_passengersum_by_region(dataset):
    totals = ddataset.groupby("Region")["Total"].sum()
  
    print("Total passengers by region:")
    print(totals)

In [248]:
total_passengers = total_passengersum_by_region(data_new)

Total passengers by region:
Region
Denmark              158400
Europe              3138942
Intercontinental     605878
Total               3903220
Name: Total, dtype: int64

### Total passengers by category - Scheduled Traffic and Charter Traffic

In [345]:
def passenger_total_by_category(dataset):
    filtered = dataset[(dataset["Category"] != "Grand Total") & (dataset["Region"] != "Total")]
    totals = filtered.groupby("Category")["Total"].sum()
    print("Total passengers by category:\n")
    print(totals)

In [347]:
 passenger_total_by_category(data_new)

Total passengers by category:

Category
Charter Traffic        90518
Scheduled Traffic    1861092
Name: Total, dtype: int64

### Top category with most passengers

In [366]:
def top_category(dataset):
    filtered = dataset[(dataset["Category"] != "Grand Total")]
    totals = filtered.groupby("Category")["Total"].sum()
    top = totals.idxmax()
    value = totals.max()
    print(f"The top category is {top} with {value} passengers.")

In [368]:
top_category(data_new)

The top category is Scheduled Traffic with 3722184 passengers.

### Top region with most passengers

In [374]:
def show_top_region(dataset):
    filtered = dataset[dataset["Region"] != "Total"]
    totals = filtered.groupby("Region")["Total"].sum()
    top_region = totals.idxmax()
    top_value = totals.max()
    
    print(f"The region with the most passengers is {top_region} with {top_value} passengers.")

In [376]:
show_top_region(data_new)

The region with the most passengers is Europe with 3138942 passengers.

### Total Arrival vs Departure 
How many passengers arrived vs. departed

In [379]:
def show_arrival_vs_departure(dataset):
    arrival = dataset["Arrival_Total"].sum()
    departure = dataset["Departure_Total"].sum()
    print(f"Total Arrivals: {arrival}")
    print(f"Total Departures: {departure}")

In [381]:
show_arrival_vs_departure(data_new)

Total Arrivals: 4000304
Total Departures: 3806136

### Most popular travel type

In [384]:
def most_popular_travel_type(dataset):
    total_arrivals = dataset["Arrival_Total"].sum()
    total_departures = dataset["Departure_Total"].sum()

    if total_arrivals > total_departures:
        print(f"Arrival was more popular with {total_arrivals} passengers.")
    elif total_departures > total_arrivals:
        print(f"Departure was more popular with {total_departures} passengers.")
    else:
        print(f"Arrival and Departure had the same number of passengers: {total_arrivals}.")

In [386]:
most_popular_travel_type (data_new)

Arrival was more popular with 4000304 passengers.